
.left{
	float:left;
}
.right{
	float:right;
}
#header{
	color: #FFFFFF;
	line-height: 50px;
	margin: 10px;
}

#header a{
	text-decoration: none;
	color: #FFFFFF
}

#nav ul{
	list-style-type: none;
	margin: 0px 0px;
}
#menu{
	text-align: center;
	background: #000000;
}
#nav{
	margin: 0 auto;
	width: 800px;
	height: 50px;
}
#nav a{
	float: left;
	width: 100px;
	line-height: 50px;
	text-decoration: none;
	color: #FFFFFF
}
#nav ul li a:hover,a:active{
	background-color:red;
}

#footer{
	position: fixed;
    bottom: 5px;
    width: 100%;
	text-align: center;
	font-size: 5px;
}
